@font-face {
    font-family: 'Ds-digi';
    src: url(../fonts/ds_digital/DS-DIGIB.TTF);
    font-weight: 600;
}
.day {
    .screen {
        display: grid;
        place-items: center;
        font-family: 'Ds-digi';
        font-size: 4rem;
        background: linear-gradient(90deg, #0f0f0f,#333333,#141414);
        color: white;
        line-height: calc(100vh / 2);
        text-shadow: 4px 4px 8px black;
    }
    #screen {
        line-height: calc(100vh);
    }
}
